@import "tailwindcss";

@layer base {
  * {
    font-family: Outfit, sans-serif;
  }
  
  .font-Ovo {
    font-family: Ovo, sans-serif;
  }
}

@layer components {
  .lightHover {
    color: #fcf4ff;
  }
  
  .darkHover {
    color: #2a004a;
  }
  
  .darkTheme {
    background-color: #11001f;
    color: white;
  }
  
  .lightTheme {
    background-color: white;
    color: black;
  }
}

/* *{
  font-family: Outfit, sans-serif;

}

.font-Ovo{
  font-family: Ovo, sans-serif;
}

.lightHover{
  color: #fcf4ff;
}

.darkHover{
  color: #2a004a;
}

.darkTheme{
  color: #11001f
} */